
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

}

.signupButton {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #e6005c;
  border-radius: 6px;
  border-color: #e6005c;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  
  
}


input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 6px;
  border: 1px solid grey;
  font-size: 15px;
  font-family: 'Nunito Sans';
  text-align: center;
  
}

.errors {
  text-align: center;
}

.title {
  font-family: 'Nunito Sans';
  text-align: center;
  border-bottom: #D3D3D3 1px solid;
  padding-bottom: 10px;
}