

.search-bar-container{
    width: 450px;
    padding: 0;
    position: absolute;
    left: 35%;
}

.results-dropdown{
    width: 450px;
    position: absolute;
    top: 100%;
    left: 35%;
    border: 1px solid white;
    z-index: 1;
    background-color: white;
    font-style: italic;
    
}

.spot-result{
    padding: 15px;
    cursor: pointer;
    
}

.spot-result-none{
    padding: 15px;
    box-shadow: 1px 1px 1px 1px lightgray;
    text-align: center;
}

.spot-result:hover{
    font-weight: bold;
    background-color: #e6005c;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.search-bar{
    display: flex;
}

.search-button{
/* float: right; */
  padding: 6px 9px;
  margin-top: 7px;
  margin-bottom: 7px;
  /* margin-right: 16px; */
  background: white;
  color: black;
  font-size: 19px;
  border: none;
  cursor: pointer;
    
}

.filter-button{
    padding: 6px 9px;
    margin-top: 7px;
    margin-bottom: 7px;
    /* margin-right: 16px; */
    background: white;
    color: #e6005c;
    font-size: 19px;
    border: none;
    cursor: pointer;
}

.filter-dropdown{
    width: 270px;
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.filter-dropdown-inner{
    /* width: 250px;
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 1;
    background-color: white; */
    
    display: flex;
    justify-content: space-between;
    padding: none;
    margin: none;
    padding-right: 10px;
   

}

.filter-options{
    padding: 10px;
    cursor: pointer;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin: 5px;
}

.filter-options:hover{
    background-color: #e6005c; 
    color: white;
    font-weight: bold;
}

.filter-options-selected{
    background-color: #e6005c; 
    color: white;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-style: italic;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin: 5px;
}


.filter-title{
    text-align: center;
    font-weight: bold;
    font-style: none;
    margin-bottom: 5px;
}

.clear-filters{
    text-align: center;
    margin: 2px;
    cursor: pointer;
}

.clear-filters:hover{
    text-align: center;
    padding: 2px;
    background-color:#e6005c ;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.current-filters{
    padding: 5px;
    text-align: center;
    background-color: rgb(247, 243, 243)
}