/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');


li, a, button, div {
    font-family: "Nunito Sans"
}


.mySpots {
    text-align: center;
    border-bottom: #D3D3D3 1px solid;
    margin-top: 0;
}

.balloonPic {
    height: 100%;
    width: 100%;
    border-radius: 1%;
}

.noSpots {
    text-align: center;
}