/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');


li, a, button, div {
    font-family: "Nunito Sans";

    
}

a {
    text-decoration: none;
    color: black
}

a:visited {
    text-decoration: none;
    color: black
}


.mySpots {
    text-align: center;
    border-bottom: #D3D3D3 1px solid;
    margin-top: 0;
}

.balloonPic {
    height: 100%;
    width: 100%;
    border-radius: 1%;
}

.noSpots {
    text-align: center;
}

.spotImg {
    /* height: 500px; */
    height: 600px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.spotDetails {
    display: block;
    margin-left: 8%;
    margin-right: 8%;
}

.hostedBy {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.spotStats {
    padding-bottom: 30px;
    border-bottom: #D3D3D3 1px solid;
}

.aircover {
    height: 25px;
    margin-top: 5%;
    padding-top: 15px;
    padding-bottom: 25px;
}

.aircoverText {
    padding-bottom: 25px;
    border-bottom: #D3D3D3 1px solid;
}

/* .aircoverGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
} */

.reviewer {
    font-weight: bold;
    padding-bottom: 10px;
}

.reviewsOuterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 50px;
}

.reviewInnerContainer{
    padding-right: 50px;
}

.review {
    padding-left: 20px;
}

.spotDescription {
    border-bottom: #D3D3D3 1px solid;
    padding-bottom: 25px;
}

.deleteReviewButton {
    width: 20%;
    background-color: #e6005c;
    margin-left: 10px;
    border-radius: 6px;
    border-color: #e6005c;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    cursor: pointer;
}

.deleteSpotButton {
    width: 15%;
    background-color: #e6005c;
    border-radius: 6px;
    border-color: #e6005c;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.updateSpotButton {
    width: 15%;
    background-color: #e6005c;
    border-radius: 6px;
    border-color: #e6005c;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
}

.avgRating {
    font-weight: bold;
}

.spotPrice{
    font-weight: bold;
}

.star {
    padding-right: 3px;
}

.becomeHostButton {
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
}
.becomeHostButton:hover {
    background-color: #e6005c;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.welcomeName {
    padding-right: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;   /* Height of the footer */
    background: #e6005c;
 }

 .footer-about {
    margin-top: 5px;
}

.footer-links {
    margin-top: 5px;
    margin-right: 10px;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links-github {
    text-decoration: none;
    color: black;
}

.page-container{
    margin-bottom: 60px;
}

.results-on-search{
    margin-top: 40px;
    text-align: center;
}