.deleteBookingButton{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e6005c;
    border-radius: 6px;
    border-color: #e6005c;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.bookingButtons{
    display: flex;
}