.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: #D3D3D3 1px solid;
 
  position: sticky;
top: 0px;
background-color: white;

}

.logo {
  height: 22%;
  width: 22%;
  padding-left: 65px;
}

.sessionLinks {
  list-style: none;
  
}


.line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
}

.menuContainer {
  margin-right: 10%;

}

.menuBar{
  width: 25px;
  height: auto;
  margin-right: 30px;
  /* padding-right: 4%; */
  cursor: pointer;
  position: relative;
}

.menuBar:hover{
  box-shadow: 1px 5px 12px 1px lightgray; 
  
}


.profile-dropdown {
  height: 110px;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  /* top: 8%; */
  top: 65px;
  /* left: 85%; */
  right: 1.9%;
  z-index: 1;
  box-shadow: 1px 5px 12px 1px lightgray; 

}




.dropdownItems {
  padding-left: 15px;
  cursor: pointer;

}

.dropdownItems:hover {

    font-weight: bold;

}

.loginSignup {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  top: 9%;
  left: 85%;
  z-index: 1;
  box-shadow: 1px 1px #888888; 
}

.navLinksContainer {
  display: flex;
  align-items: center;
}

.welcomeName {
  padding-left: 50px;
  padding-right: 65px;
  /* font-weight: bold; */
  
}

.spotPoints {
  padding-top: 40px;
  font-weight: bold;
}

.belowSpotPoints{
  color: grey;
  padding-top: 5px;
  padding-left: 33px;
}

.spotPointsContainer {
  padding-bottom: 15px;
  /* border-bottom: #D3D3D3 1px solid; */
}

#freeCancel {
  padding-left: 15px;
}

#greatLocation {
  padding-left: 15px;

}

#greatLocation {
  padding-left: 15px;
}

#greatCheckin {
  padding-left: 15px;
}

.navsearch {
  margin: 0 auto;
}